<div>
<p>Month: <%= @current_time.month %></p>
<p>Day: <%= @current_time.day %></p>
<p>Week day: <%= @current_time.wday %></p>
<p>Year: <%= @current_time.year %></p>
<p>Day in the year: <%= @current_time.yday %></p>
<p>Hour: <%= @current_time.hour %></p>
<p>Minute: <%= @current_time.min %></p>
<p>Second: <%= @current_time.sec %></p>
<p>Time zone: <%= @current_time.zone %></p>
<p>Time: <%= @current_time.to_s %></p>



</div>